[submodule "lib-externe/librairies"]
	path = lib-externe/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "lib-externe/AboutDialog-Delphi-Component"]
	path = lib-externe/AboutDialog-Delphi-Component
	url = https://github.com/DeveloppeurPascal/AboutDialog-Delphi-Component.git
