[submodule "lib-externe/BoiteDeDialogueAPropos"]
	path = lib-externe/BoiteDeDialogueAPropos
	url = http://192.168.1.14:13000/OlfSoftware/BoiteDeDialogueAPropos.git
[submodule "lib-externe/librairies"]
	path = lib-externe/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
